/* ----------------------------- Work Sans Font ----------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-regular {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* ----------------------------------------- Shared Styles --------------------------------------- */

.display-flex{
    display: flex;
}

.bg-color{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #ff900e;
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
    padding: 25px 20px;
    border: none;
    border-radius: 8px;
}

/* ------------------------------------------ Navbar Styles ---------------------------------------- */

.brand{
    font-size: 3rem;  /* 1rem = 16px (Approx.) */
}

.navbar{
    justify-content: space-between;
    align-items: center;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
    
}

.nav-link{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 20px;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* -------------------------------------------- Banner Styles -------------------------------------- */

.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-img{
    width: 100%;
}

/* ------------------------------------------------ Media Query ----------------------------------- */
.menu, .navbar{
    flex-direction: column;
}